*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.iml
.gradle/*
.idea/*
*/bin/
*/gen/
*/out/
.gradle/
build/
*/build/
gradlew
gradlew.bat
local.properties
proguard/
*.log
.navigation/
captures/
*/*.iml
gradle/
*/.settings/
*/.DS_Store
.DS_Store
*/.idea/
.idea/
/local.properties
